@charset "utf-8";

@use "../variable.scss" as *;
@use "sass:math" as *;


.half-space {
  width: 0.5em;
  display: inline-block;
}

.word {
  row-gap: 3q;
  line-height: 1;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.word-prounciation {
  margin-inline: -100em;
  font-size: 9q;
  letter-spacing: -0.1em;
  font-weight: normal;
}