@charset "utf-8";

@use "../variable.scss" as *;
@use "sass:math" as *;


.sans {
  font-family: $sans-font-family;
  font-size-adjust: cap-height 0.71;
}

.normal-sans {
  font-family: $normal-sans-font-family;
}

.japanese {
  font-family: "Yu Mincho", serif;
}