@charset "utf-8";

@use "../variable.scss" as *;
@use "sass:math" as *;


$lesson-header-top-height: 56q;
$lesson-header-bottom-height: 40q;
$lesson-header-ornament-width: 128q;

.lesson {
  break-before: left;
  page: lesson;
}

.lesson-header {
  margin-block-start: - $page-margin-top - $bleed-size;
  margin-block-end: $page-block-gap;
  margin-inline-start: - $page-margin-outer - $bleed-size;
  margin-inline-end: - $page-margin-inner - $bleed-size;
  position: relative;
  z-index: 0;
}

.lesson-header-main-top {
  height: $lesson-header-top-height + $bleed-size;
  padding-block-end: 6q;
  padding-inline-start: 14q + $lesson-header-ornament-width + $bleed-size;
  font-family: "Vekos";
  font-size: 16q;
  letter-spacing: 0.05em;
  background-color: $dark-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  z-index: 1;
}

.lesson-header-main-bottom {
  height: $lesson-header-bottom-height;
  padding-inline-start: 12q + $lesson-header-ornament-width + $bleed-size;
  font-size: 24q;
  font-weight: 700;
  letter-spacing: 0.1em;
  background-color: $light-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.lesson-header-ornament-top {
  inset-block-start: 0q;
  inset-inline-start: -40q;
  width: $lesson-header-ornament-width + $bleed-size + 40q - div($lesson-header-top-height + $bleed-size, tan(90deg - $skew-degree) * 2);
  height: $lesson-header-top-height + $bleed-size;
  position: absolute;
  z-index: 3;
  &::before {
    inset: 0q;
    border-inline-end: solid white 8q;
    transform: skew($skew-degree);
    background-color: $dark-color;
    background-clip: padding-box;
    position: absolute;
    content: "";
  }
  &::after {
    inset-block-end: -32q;
    inset-inline-end: 16q;
    font-family: $special-font-family;
    font-size: 56q;
    font-weight: 600;
    letter-spacing: -0.05em;
    color: white;
    position: absolute;
    content: attr(data-number);
  }
}

.lesson-header-ornament-bottom {
  inset-block-start: $lesson-header-top-height + $bleed-size;
  inset-inline-start: -40q;
  width: $lesson-header-ornament-width + $bleed-size + 40q - div($lesson-header-bottom-height, tan(90deg - $skew-degree) * 2);
  height: $lesson-header-bottom-height;
  position: absolute;
  z-index: 2;
  &::before {
    inset: 0q;
    border-inline-end: solid white 8q;
    transform: skew(- $skew-degree);
    background-color: $dark-color;
    background-clip: padding-box;
    position: absolute;
    content: "";
  }
}

.lesson-running {
  width: 100vw;
  height: 100%;
  margin-block-end: $page-block-gap;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-block-end: solid $border-width $dark-color;
  z-index: -1;
  &[data-position="left"] {
    justify-content: flex-start;
    position: running(lesson-left);  
  }
  &[data-position="right"] {
    justify-content: flex-end;
    position: running(lesson-right);  
  }
}

.lesson-running-inner {
  display: flex;
  align-items: baseline;
  &[data-position="left"] {
    flex-direction: row-reverse;
  }
  &[data-position="right"] {
    flex-direction: row;
  }
}

.lesson-running-text {
  &[data-position="left"] {
    margin-inline-start: 0.4em;
  }
  &[data-position="right"] {
    margin-inline-end: 0.4em;
  }
}

@page lesson:left {
  @top-center {
    content: element(lesson-left);
  }
}

@page lesson:right {
  @top-center {
    content: element(lesson-right);
  }
}