@charset "utf-8";

@use "../variable.scss" as *;
@use "sass:math" as *;


.figure-container {
  margin-block: 12q;
  column-gap: 24q;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  break-inside: avoid;
}