@charset "utf-8";

@use "../variable.scss" as *;
@use "sass:math" as *;


.normal-table {
  line-height: $line-height;
  border-block: solid $border-width $dark-color;
  border-collapse: collapse;
}

.normal-table th {
  background-color: $light-color;
}

.normal-table td,
.normal-table th {
  padding-inline: 0.5em;
  text-align: center;
}
