@charset "utf-8";

@use "../variable.scss" as *;
@use "sass:math" as *;


.section {
  break-inside: avoid;
  &:not(:first-child) {
    margin-block: 24q;
  }
}

.section-title {
  margin-block-end: 12q;
  padding-block: 2q;
  padding-inline-start: 6q;
  font-size: 110%;
  color: white;
  background-image: linear-gradient(to right, $dark-color, $dark-color 80%, transparent);
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.section-title-number {
  font-size: 140%;
  font-family: $special-font-family;
  display: block;
  transform: translate(0em, 0.03em);
}

.section-title-text {
  margin-inline-start: 0.5em;
  font-weight: bold;
  display: block;
}

.section-paragraph {
  margin-block: 8q;
  line-height: $line-height;
  text-align: justify;
}